* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3 {
    margin-bottom: 15px;
    color: #444;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

#app {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#expense-table {
    width: 1000px;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: 20px auto;
}

#add-expense-btn {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
#table-head {
    background-color: white;
    border: black 1px solid;
}
#table-head th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#clear-all-btn {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin: 0 auto;
}